*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

body{
    background-color: #f8f8f8 !important;
}

.carousel {
    position: relative;
    width: 95vw;
    height: 25vw;
    margin:0 auto;
}
.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.carousel-track{
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height:100%;
}
.carousel-slide{
    position: absolute;
    top:0;bottom: 0;
    width: 100%;
}
.carousel-slide>img{
    width: 100%;
    height: 100%;
}
.carousel-nav{
    display: flex;
    justify-content:center;
    padding:3px 0;
}
.carousel-indicator{
    width:1.2vw;
    height:.5vh;
    background-color:#cbcbcb;
    cursor: pointer;
    border: none;
    margin: .5%;
    border-radius:5px;
}
.carousel-indicator.current-slide{
    background-color:#f22
}

.category-section{
    margin-top:2%
}

.category-list{
    display: flex;
    justify-content: center;
    width: 85vw;
    flex-wrap: wrap;
    margin: 1% auto;
}

.ls-item{
    list-style: none;
    padding:6px 10px;
    margin-top: 3px;
    transition: all 0.1s ease-out;
}

.ls-item > a{
    border: 1px solid #28f;
    color: #28f;
    border-radius:5px;
    text-decoration: none;
    padding:6px 14px;
}

.active>a{
    background-color: #001d92;
    color: #fff;
}

.active>a>i{
    margin-right: 10px;
}

.ls-item > a:hover{
    background-color: #001d92;
    color: #fff;
}

.promotion-card-section {
    width: 95vw;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.promotion-card{
    width:49%;
    margin-bottom: 1%;
    border: 1.5px solid #f8f8f8;
    border-radius: 3px;
}

.promotion-card>img{
     width: 100%;
     border-radius: 3px;
}

.promotion-card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition:all 0.5s ease;
    transform: scale(1.009);
}

@media only screen and (max-width: 480px){
    .promotion-card{
        width:100%;
    }
    .category-section{
        margin: 5%;
    }
    .carousel-indicator{
        margin-top: 1%;
        width: 5%;
    }
}

