body {
    background-color: #f8f9fb;
    font-family: "Roboto", sans-serif;
}
.nav {
    height: 100px;
    width: 90%;
    background-color: #fff;
    margin: auto;
}
.mainBody {
    display: grid;
    margin: 40px auto;
    width: 98%;
    grid-template-columns: 18% 81%;
    gap: 2%;
}
.redButton {
    border: none;
    background-color: #e21b35;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}
.redButton:hover {
    cursor: pointer;
    background-color: #a71529;
}
.lBody,
.rBody {
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(145, 144, 144), 0px 0px 1px rgb(145, 144, 144);
}

.lBody > ul {
    list-style: none;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.lBody > ul > li {
    border-bottom: 1px solid rgb(180, 177, 177);
    padding: 6px 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
}
.lBody > ul > li:last-child {
    border: none;
}
.lBody > ul > li > img {
    height: 32px;
    margin-right: 15px;
}
.rBody {
    padding: 40px;
    height: 472px;
    position: relative;
}
.greetUser {
    padding: 1px 80px;
    font-size: 30px;
}
.accDetails {
    width: 100%;
    height: 250px;
    border: rgb(180, 177, 177) 1px solid;
    border-radius: 5px;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 48% 45%;
    padding-top: 30px;
}
.iconAccDetails {
    display: flex;
    margin: 25px 25px;
    font-size: 16px;
    vertical-align: center;
    /* border: rgb(192, 88, 88) 1px solid; */
}
.iconAccDetails > img {
    /* border: rgb(148, 33, 33) 1px solid; */
    height: 50px;
}
.iconAccDetails > div > p {
    margin: 5px 10px;
}
.colorInfo {
    color: #4a9cee;
}
.userId {
    width: 270px;
    height: 28px;
    color: white;
    background-image: linear-gradient(90deg, #ff4787 0%, #ff6347 100%);
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
    position: absolute;
    left: 100px;
    box-shadow: 0 20px 15px -15px rgb(204 129 98);
}
/* Purchase History */
.purHis {
    width: 99%;
    height: 99%;
    position: relative;
}
.noPuchaseHistory {
    position: absolute;
    width: 200px;
    top: 50%;
    right: 50%;
    transform: translate(30%, -45%);
    text-align: center;
}
.purHisHead1 {
    margin: -35px;
    display: inline-block;
}
.purHisHead1 > h3,
.purHisHead1 > p {
    margin: 8px;
}
.purHisHead2 > p {
    margin: 0;
}
.purHisHead2 {
    display: inline-block;
    margin-left: 70%;
    display: flex;
    vertical-align: top;
    margin-top: -22px;
}

/* FlexiREward CSS */

.rewPointHead {
    width: 99%;
    height: 180px;
    position: relative;
}
.rewPointHeadBK {
    background-color: rgba(255, 211, 224, 0.33);
    width: 99%;
    height: 130px;
    border-radius: 10px;
    margin-left: 2%;
    font-size: 14px;
    position: relative;
}
#moneyBagImg {
    position: absolute;
    left: -15px;
    top: 35px;
}
.rewPointHeadBK p:first-child {
    font-size: 25px;
    color: #dc3545;
}
.rewPointText {
    margin: 0px 80px;
    padding-top: 5px;
}
.rewardPointCartField {
    position: absolute;
    right: 36px;
    top: 25px;
}
.cartImg {
    border-radius: 50%;
    position: relative;
    width: 80px;
}
.nItemsInCart{
    background-color: white;
    color: #e71c37;
    position: absolute;
    right: 16px;
    top: 13px;
    padding: 5px;
    font-size: 16px;
    border-radius: 40%;
}