body {
    background-color: #f8f9fb;
    font-family: "Roboto", sans-serif;
}
.nav {
    height: 100px;
    width: 90%;
    background-color: #fff;
    margin: auto;
}
.mainBody {
    display: grid;
    margin: 40px auto;
    width: 97%;
    grid-template-columns: 18% 81%;
    gap: 2%;
    background-color: #f8f9fb;
}
.redButton {
    border: none;
    background-color: #e21b35;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
}
.redButton:hover {
    cursor: pointer;
    background-color: #a71529;
}
.cancelButton {
    border: none;
    color: #e21b35;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px black solid;
}
.cancelButton:hover {
    cursor: pointer;
    background-color: #e6e4e4;
}
.lBody,
.rBody {
    height: 550px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(145, 144, 144), 0px 0px 1px rgb(145, 144, 144);
}

.lBody > ul {
    list-style: none;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}
.lBody > ul > li {
    border-bottom: 1px solid rgb(180, 177, 177);
    padding: 6px 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
}
.lBody > ul > li:last-child {
    border: none;
}
.lBody > ul > li > img {
    height: 32px;
    margin-right: 15px;
}
.rBody {
    padding: 40px;
    height: 472px;
    position: relative;
}
.greetUser {
    padding: 1px 80px;
    font-size: 30px;
}
.accDetails {
    width: 100%;
    height: 250px;
    border: rgb(180, 177, 177) 1px solid;
    border-radius: 5px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 48% 45%;
    padding-top: 30px;
}
.iconAccDetails {
    display: flex;
    margin: 25px 25px;
    font-size: 16px;
    vertical-align: center;
    /* border: rgb(192, 88, 88) 1px solid; */
}
.iconAccDetails > img {
    /* border: rgb(148, 33, 33) 1px solid; */
    height: 50px;
}
.iconAccDetails > div > p {
    margin: 5px 10px;
}
.colorInfo {
    color: #4a9cee;
}
.userId {
    width: 290px;
    height: 45px;
    color: white;
    background-image: linear-gradient(90deg, #ff4787 0%, #ff6347 100%);
    border-radius: 5px;
    padding: 10px;
    font-size: 11px;
    position: absolute;
    left: 100px;
    top: 110px;
    box-shadow: 0 20px 15px -15px rgb(204 129 98);
}
/* Purchase History */
.purHis {
    width: 99%;
    height: 99%;
    position: relative;
}
.noPuchaseHistory {
    position: absolute;
    width: 200px;
    top: 50%;
    right: 50%;
    transform: translate(30%, -45%);
    text-align: center;
}
.purHisHead1 {
    margin: -35px;
    display: inline-block;
}
.purHisHead1 > h3,
.purHisHead1 > p {
    margin: 8px;
}
.purHisHead2 > p {
    margin: 0;
}
.purHisHead2 {
    display: inline-block;
    margin-left: 70%;
    display: flex;
    vertical-align: top;
    margin-top: -22px;
}

/* FlexiREward CSS */

.rewPointHead {
    width: 99%;
    height: 180px;
    position: relative;
}
.rewPointHeadBK {
    background-color: rgba(255, 211, 224, 0.33);
    width: 99%;
    height: 130px;
    border-radius: 10px;
    margin-left: 2%;
    font-size: 14px;
    position: relative;
}
#moneyBagImg {
    position: absolute;
    left: -15px;
    top: 35px;
}
.rewPointHeadBK p:first-child {
    font-size: 25px;
    color: #dc3545;
    margin: 20px 0px 20px;
}
.rewPointText {
    margin: 0px 80px;
    padding-top: 5px;
}
.rewardPointCartField {
    position: absolute;
    right: 36px;
    top: 25px;
}
.cartImg {
    border-radius: 50%;
    position: relative;
    width: 80px;
}
.nItemsInCart {
    background-color: white;
    color: #e71c37;
    position: absolute;
    right: 16px;
    top: 13px;
    padding: 5px;
    font-size: 16px;
    border-radius: 40%;
}
.allItemsInFlexiRewards {
    height: 80px;
    width: 109%;
    background-color: #eee;
    margin-left: -40px;
    margin-top: 32px;
    padding: 20px 40px;
}
.allItemsButtonFlexiRewards {
    font-size: 17px;
    padding: 7px;
    border: #e71c37 solid 1px;
    border-radius: 18px;
    color: #e71c37;
    background-color: white;
}
#flexiItemsCards {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1.5%;
}
.flexiItemsCard {
    height: 275px;
    display: flex;
    flex-direction: column;
    border: 0.5px rgba(8, 8, 8, 0.125) solid;
    border-radius: 5px;
}
.flexiItemsCard:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.flexiItemsCardPhoto {
    height: 150px;
}
.flexiItemsCardImg {
    height: 100%;
    width: 200px;
    object-fit: contain;
}
.flexiItemsCardName {
    height: 42px;
    overflow: hidden;
    margin-left: 5px;
}
.priceAndPoints {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.priceAndPoints > p {
    font-size: 15px;
    margin: 1px 5px;
}
.priceAndPoints > h2 {
    color: #e71c37;
    margin-right: 5px;
}

/* My wallet css */
.walletBanner {
    display: flex;
    margin: 10px -40px 30px;
    width: 106%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.walletBannerTextBox {
    height: 240px;
    width: 560px;
    padding: 15px 10px;
}
.walletBannerImg1 {
    height: 200px;
}
.walletBannerImg2 {
    height: 160px;
}
.walletBannerTextBox p {
    color: gray;
    margin-top: 5px;
}
.walletMainBody {
    display: flex;
}
.lWalletMainBody112 p:first-child {
    font-size: 16px;
    font-weight: 500;
    color: rgb(97, 96, 96);
    text-align: right;
    padding: 3px;
}
.lWalletMainBody112 p:last-child {
    font-size: 16px;
    font-weight: 500;
    color: #08ce73;
    padding: 3px;
    text-align: right;
}
.lWalletMainBody11 {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: gray 1px solid;
}
.lWalletMainBody12 p {
    display: flex;
    padding: 7px 10px;
    justify-content: space-between;
    font-size: 16px;
}
.lWalletMainBody1,
.lWalletMainBody2 {
    border: gray 1px solid;
    width: 280px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.lWalletMainBody2 {
    padding: 10px;
}
.lWalletMainBody2 h3 {
    font-size: 14px;
}
.lWalletMainBody2 p {
    font-size: 14px;
    display: flex;
    vertical-align: top;
    gap: 10px;
    margin: 15px 0px;
}
.unEditableAmount {
    background-color: rgb(233, 232, 232);
    font-size: 20px;
    padding: 7px;
    margin: 20px 0px;
    border-radius: 5px;
    border: rgb(175, 173, 173) 0.5px solid;
    width: 110px;
}
.unEditableAmountB button {
    color: grey;
    padding: 7px;
    border: rgb(175, 173, 173) 0.5px solid;
    border-radius: 5px;
    margin: 0px 20px 20px 0;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}
.walletForm input {
    /* display: inline-block; */
    width: 400px;
    height: 30px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px grey solid;
}
.walletForm button {
    padding: 7px 20px;
}

.walletMainBody {
    display: flex;
    gap: 30px;
}

#dataChangePopupCont {
    z-index: 9;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: transparent;
}
#dataChangePopup {
    width: 60%;
    margin: 50px 20%;
    height: 550px;
    border: 0.5px solid rgb(190, 189, 189);
    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 40px;
}
#dataChangePopupHead{
    display: flex;
    padding: 10px 10px;
    justify-content: space-between;
}
#dataChangePopupHead>h1{
    font-size: 30px;
    border-left: 2px red solid;
    padding-left: 10px;
}

#dataChangePopupMain{
    display: flex;
    justify-content: space-between;
}
#dataChangePopupMain1{
    width: 40%;
    height: 360px;
    background-image:url("https://static2.medplusmart.com/live/webpwa/images/my-account-psw-icon-cssbg.svg");
    background-repeat: no-repeat;
    background-position: center;
}
#dataChangePopupMain2{
    height: 360px;
    width: 55%;
}
#dataChangePopupFoot{
    text-align: center;
}
#changePassword:hover,#changeEmail:hover,#changeMobile:hover,#changeAddress:hover{
    cursor: pointer;
}
