#div1{
    margin-top: 15px;
  
    width: 98%;
    height: 65px;
padding: 8px;
line-height: 15px;
background-color: #21384f;
color: whitesmoke;

}
p{
font-weight: lighter;
font-size: 15px;
font-family:Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
}
h1{
font-weight: lighter;
font-size: 25px;
font-family:Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
}

#box{
display: grid;
grid-template-columns: 75% 25%;
padding: 20px;
}
#div2{

font-size: 19px;
font-weight: lighter;
font-family:Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
margin-left: 2px;


}



#ab{
display: grid;
grid-template-columns: 23% 77%;
padding: 10px;
}
img{
width: 95%;
height: 65%;
}
#nav{
border-left: 1px solid rgb(194, 192, 192);

background-color: white;

}
li:hover{

color: red;
}
ul{

font-size: 14px;
font-family:Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
font-weight: lighter;

}
li{

color: #555;
list-style: none;

}
.arr1{
font-size: 18px;
float:right;
margin-top: 0px;

}



.arrow{
color: #555;
}
.arrow:hover{
color: tomato;
}
a{

text-decoration: none;
}
#artical{
float: right;

color: red;
font-size: 14px;
font-family:Roboto,Helvetica\ Neue,Helvetica,Arial,sans-serif;
}
#artical:hover{
color: black;
}

