* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
background-color:#f8f8f8;
}

.mainCarouselContainer{
    position: relative;
    width: 95vw;
    margin: 0 auto;
}

.carousel {
    position: relative;
    width: 70vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-nav {
    display: flex;
    justify-content: space-around;
    padding: 3px 0;
}

.carousel-indicator {
    flex-basis: 20%;
    background-color: #fff;
    color: #666;
    border: none;
    padding:1% 0;
    cursor:pointer;
    
}
.carousel-indicator.current-slide {
    color: black;
    border-bottom: 3px solid black;
}