.flexbox{
    display: flex;
    width:100% ;
    /* border: 2px solid blue; */
  height: 270px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.flexbox>div:last-child{
     flex-basis:40% ;
     /* border: 1px solid red;  */
    background-image: url("articles-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    
}
.flexbox .container{
    flex-basis:60% ;
    /* border: 1px solid red; */
  padding: 15PX;
}
 .car{
    /* border: 1px solid red; */
    height:70%;
     overflow: hidden;
    position: relative;
    margin-top: -3%;
}
.slider{
    height: 100%;
    display: flex;
    width: 200%;
     /* border: 1px solid red; */
    transition: 0.3s;
  
    /* transform: translate(-0%); */ 
}
.slider section{
    /* border: 1px solid green; */
    flex-basis: 100%;
    /* display: flex; */
    justify-content: center;
    
}
.healthtext>a{
    text-decoration: none;
}
.readmore{
color:red;
cursor: pointer;
float: right;
padding-right: 10px;
}
.controls ul{
    position: absolute;
     bottom: 13%;
/* transform: translateY(-50%); */
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;

}
.controls ul li{
    width: 25px;
    height: 3px;
    border: 1px solid #333;
    border-radius:10%;
    /* background:green; */
    cursor: pointer;
    margin-left: 10px;
  
}
.controls ul li.selected{
    background: red;
}

.container h4,h2{
    line-height: 0px;
}
.container h2{
    font-size: 48px;
    font-weight: 500;
    color: #fc8019;
    padding-bottom: 0;
}
.container h4{
    font-size: 18px;
    font-weight: 100;
}